use flake
if [ -z "${CUSTOM_ENV_TYPE}" ]; then
    CUSTOM_ENV_TYPE="git"
    CURR_ENV_ROOT=$PWD
    GIT_ENV_USER=$(git config user.name || echo "$USERNAME")
fi
export CUSTOM_ENV_TYPE
export CURR_ENV_ROOT
export GIT_ENV_USER
